CertExpirationNotify/state.asl.json
{
  "Comment": "Notify users when certificate will expire.",
  "StartAt": "LoadCertExpirationNotifyInput",
  "States": {
    "LoadCertExpirationNotifyInput": {
      "Type": "Task",
      "Resource": "${LoadCertExpirationNotifyInputFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "FormatCertMgrEvent"
    },
    "FormatCertMgrEvent": {
      "Type": "Task",
      "Resource": "${FormatCertMgrEventFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "NeedNotify?" 
    },
    "NeedNotify?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.message",
          "IsPresent": true,
          "Next": "NotifySns"
        }
      ],
      "Default": "Successful"
    },
    "NotifySns": {
      "Type": "Task",
      "Resource": "${NotifySnsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "End": true
    },
    "Successful": {
      "Type": "Succeed"
    }
  }
}
