statemachine/ComplianceNotify/state.asl.json
{
  "Comment": "Format compliance event from AWS Config and send notification.",
  "StartAt": "LoadComplianceNotifyInput",
  "States": {
    "LoadComplianceNotifyInput": {
      "Type": "Task",
      "Resource": "${LoadComplianceNotifyInputFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "NeedNotify?"
    },
    "NeedNotify?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.message",
          "IsPresent": true,
          "Next": "NotifySns"
        }
      ],
      "Default": "NoNeedNotify"
    },
    "NotifySns": {
      "Type": "Task",
      "Resource": "${NotifySnsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "End": true
    },
    "NoNeedNotify": {
      "Type": "Succeed"
    }
  }
}
