MergeCmdbData/subnet.state.asl.json
{
  "Comment": "Merge Cloudwatch metric data to a cross-region S3 bucket",
  "StartAt": "LoadSubnetInvSql",
  "States": {
    "LoadSubnetInvSql": {
      "Type": "Task",
      "Resource": "${LoadSubnetInvSqlFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "CreateTmpTable"
    },
    "CreateTmpTable": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "ResultPath": "$.CreateTmpTableResult",
      "Parameters": {
        "QueryString.$": "$.subnetCreate",
        "WorkGroup": "primary",
        "ResultConfiguration": {
           "OutputLocation.$": $.athea_query_result_path
        }
      },
      "Next": "DropTmpTable"
    },
    "DropTmpTable": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "ResultPath": "$.DropTmpTableResult",
      "Parameters": {
        "QueryExecutionContext": {
          "Database": "default",
          "Catalog": "AwsDataCatalog"
        },        
        "QueryString.$": "$.subnetDrop",
        "WorkGroup": "primary",
        "ResultConfiguration": {
           "OutputLocation.$": $.athea_query_result_path 
        }
      },
      "End": true
    }
  }
}
