3.EnhancedCUR/state.asl.yaml
StartAt: StandardizeJob
States:
  StandardizeJob:
    Type: Task
    Resource: arn:aws:states:::glue:startJobRun.sync
    Parameters:
      JobName: '${StandardizeJobName}'
      Arguments:
        --year.$: States.ArrayGetItem(States.StringSplit($.time, '-,T'), 0)
        --month.$: States.ArrayGetItem(States.StringSplit($.time, '-,T'), 1)
    InputPath: $
    ResultPath: $.StandardizeResult
    Next: LoadNRTEKSMetricsJob
  LoadNRTEKSMetricsJob:
    Type: Task
    Resource: arn:aws:states:::glue:startJobRun.sync
    Parameters:
      JobName: '${LoadPrometheusEKSMetricsJob}'
      Arguments:
        --year.$: States.ArrayGetItem(States.StringSplit($.time, '-,T'), 0)
        --month.$: States.ArrayGetItem(States.StringSplit($.time, '-,T'), 1)
        --region: ap-northeast-1
    InputPath: $
    ResultPath: $.LoadNRTEKSMetricsResult
    Next: AllocateEksJob
  AllocateEksJob:
    Type: Task
    Resource: arn:aws:states:::glue:startJobRun.sync
    Parameters:
      JobName: '${AllocateEksJob}'
      Arguments:
        --year.$: States.ArrayGetItem(States.StringSplit($.time, '-,T'), 0)
        --month.$: States.ArrayGetItem(States.StringSplit($.time, '-,T'), 1)
    InputPath: $
    ResultPath: $.AllocateEksResult
    Next: AllocateUntagJob
  AllocateUntagJob:
    Type: Task
    Resource: arn:aws:states:::glue:startJobRun.sync
    Parameters:
      JobName: '${AllocateUntagJob}'
      Arguments:
        --year.$: States.ArrayGetItem(States.StringSplit($.time, '-,T'), 0)
        --month.$: States.ArrayGetItem(States.StringSplit($.time, '-,T'), 1)
    InputPath: $
    ResultPath: $.AllocateUntagResult
    End: true
