PhdEventProcessor/state.asl.json
{
  "Comment": "Format PHD events and send notification.",
  "StartAt": "LoadPhdEventProcessorInput",
  "States": {
    "LoadPhdEventProcessorInput": {
      "Type": "Task",
      "Resource": "${LoadPhdEventProcessorInputFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "WhatEvent?"
    },
    "WhatEvent?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.eventTypeCode",
          "StringEquals": "AWS_EC2_INSTANCE_REBOOT_FLEXIBLE_MAINTENANCE_SCHEDULED",
          "Next": "FormatEC2MaintenanceEvent"
        }
      ],
      "Default": "FormatGeneralEvent"
    },
    "FormatEC2MaintenanceEvent": {
      "Type": "Task",
      "Resource":"${FormatEC2MaintenanceEventFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "NeedNotify?"
    },
    "FormatGeneralEvent": {
      "Type": "Task",
      "Resource":"${FormatGeneralEventFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "NeedNotify?"
    },
    "NeedNotify?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.message",
          "IsPresent": true,
          "Next": "NotifySns"
        }
      ],
      "Default": "NoNeedNotify"
    },
    "NotifySns": {
      "Type": "Task",
      "Resource": "${NotifySnsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "End": true
    },
    "NoNeedNotify": {
      "Type": "Succeed"
    }
  }
}
