EC2Provision/state.asl.json
{
  "Comment": "Create/Delete EC2 alarms when an EC2 instance starts/terminates.",
  "StartAt": "LoadEC2ProvisionInput",
  "States": {
    "LoadEC2ProvisionInput": {
      "Type": "Task",
      "Resource": "${LoadEC2ProvisionInputFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "RunningOrTerminated?"
    },
    "RunningOrTerminated?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.State",
          "StringEquals": "running",
          "Next": "GetInstanceDetail"
        }      
      ],
      "Default": "DeleteEC2Alarms"      
    },
    "GetInstanceDetail": {
      "Type": "Task",
      "Resource": "${GetInstanceDetailFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "CreateEC2Alarms"
    },
    "CreateEC2Alarms": {
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
         "StartAt": "GetSSMInformation",
         "States": {
            "GetSSMInformation": {
              "Type": "Task",
              "Resource": "${GetSSMInformationFunctionArn}",
              "InputPath": "$",
              "ResultPath": "$",
              "Next": "IntanceOnline?"
            },
            "IntanceOnline?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.PingStatus",
                  "StringEquals": "Online",
                  "Next": "WindowsOrLinux?"
                }      
              ],
              "Default": "Wait20Sec"      
            },
            "Wait20Sec": {
              "Type": "Wait",
              "Seconds": 20,
              "Next": "GetSSMInformation"
            },
            "WindowsOrLinux?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.PlatformType",
                  "StringEquals": "Windows",
                  "Next": "GetWindowsVolumes"
                }      
              ],
              "Default": "GetLinuxVolumes"
            },
            "GetWindowsVolumes": {
              "Type": "Task",
              "Resource": "${GetWindowsVolumesFunctionArn}",
              "InputPath": "$",
              "ResultPath": "$",
              "Next": "CreateWindowsDiskAlarms"
            },
            "GetLinuxVolumes": {
              "Type": "Task",
              "Resource": "${GetLinuxVolumesFunctionArn}",
              "InputPath": "$",
              "ResultPath": "$",
              "Next": "CreateLinuxDiskAlarms"
            },
            "CreateLinuxDiskAlarms": {
              "Type": "Task",
              "Resource": "${CreateLinuxDiskAlarmsFunctionArn}",
              "InputPath": "$",
              "ResultPath": "$",
              "End": true
            },
            "CreateWindowsDiskAlarms": {
              "Type": "Task",
              "Resource": "${CreateWindowsDiskAlarmsFunctionArn}",
              "InputPath": "$",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "CreateCPUAlarms",
          "States": {
            "CreateCPUAlarms": {
              "Type": "Task",
              "Resource": "${CreateCPUAlarmsFunctionArn}",
              "InputPath": "$",
              "ResultPath": "$",
              "Next": "CreateMemoryAlarms"
            },
            "CreateMemoryAlarms": {
              "Type": "Task",
              "Resource": "${CreateMemoryAlarmsFunctionArn}",
              "InputPath": "$",
              "ResultPath": "$",
              "Next": "CreateHealthCheckAlarms"
            },
            "CreateHealthCheckAlarms": {
              "Type": "Task",
              "Resource": "${CreateHealthCheckAlarmsFunctionArn}",
              "InputPath": "$",
              "ResultPath": "$",
              "Next": "CreateEbsTagsFromEc2" 
            },
            "CreateEbsTagsFromEc2": {
              "Type": "Task",
              "Resource": "${CreateEbsTagsFromEc2FunctionArn}",
              "InputPath": "$",
              "ResultPath": "$",
              "End": true
            }
          }
        }
      ]
    },
    "DeleteEC2Alarms": {
      "Type": "Task",
      "Resource": "${DeleteEC2AlarmsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "End": true
    }
  }
}
