AlarmProcessor/state.asl.json
{
  "Comment": "Format CloudWatch alarms and send notification.",
  "StartAt": "LoadAlarmProcessorInput",
  "States": {
    "LoadAlarmProcessorInput": {
      "Type": "Task",
      "Resource": "${LoadAlarmProcessorInputFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "WhatAlarm?"
    },
    "WhatAlarm?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.alarmName",
          "StringMatches": "ElasticSearch-*",
          "Next": "FormatESAlarm"
        },
        {
          "Variable": "$.alarmName",
          "StringMatches": "RDS-*",
          "Next": "FormatRDSAlarm"
        },
        {
          "Variable": "$.alarmName",
          "StringMatches": "EC2-*",
          "Next": "FormatEC2Alarm"
        }
      ],
      "Default": "NoNeedNotify"
    },
    "FormatESAlarm": {
      "Type": "Task",
      "Resource": "${FormatESAlarmFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "NeedNotify?"
    },
    "FormatRDSAlarm": {
      "Type": "Task",
      "Resource": "${FormatRDSAlarmFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "NeedNotify?"
    },
    "FormatEC2Alarm": {
      "Type": "Task",
      "Resource":"${FormatEC2AlarmFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "NeedNotify?"
    },
    "NeedNotify?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.message",
          "IsPresent": true,
          "Next": "NotifySns"
        }
      ],
      "Default": "NoNeedNotify"
    },
    "NotifySns": {
      "Type": "Task",
      "Resource": "${NotifySnsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "End": true
    },
    "NoNeedNotify": {
      "Type": "Succeed"
    }
  }
}
